<%  include ./partials/header %>

<section class="">
    <div class="jumbotron centered">
        <h1 class="text-center">Find your favorite movies.</h1>
        <form class="form-group" action="/results" method= "GET">
            <div class="row mb-2 justify-content-center">
                <div class="input-group">
                    <input class="form-control form-control-lg col-10" type="text" placeholder="search movie title" name="search">
                    <div class="input-group-append">
                        <button class="btn btn-search btn-lg" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
                
            </div>
        </form>
    </div>
</section>

<%  include ./partials/footer %>